#!/usr/bin/env fish

{{ if .isWorkComputer }}
echo "Installing terminal emulators..."
{{ else }}
echo "Installing terminal emulators skipped!"
return
{{ end }}

## Install starship
echo "Installing starship..."
curl -sS https://starship.rs/install.sh | sh
echo "Starship version: $(starship --version)"

## Install ghostty
echo "Installing ghostty..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/mkasberg/ghostty-ubuntu/HEAD/install.sh)"
echo "Ghostty installed, version: $(ghostty --version)"
