#!/bin/bash

# brew_file hash: {{ include "private_dot_config/homebrew/Brewfile" | sha256sum }}

echo "📦 Running brew bundle..."
if brew bundle --file={{ .chezmoi.homeDir }}/.config/homebrew/Brewfile; then
  echo "✅ brew bundle complete."
else
  echo "⚠️ brew bundle encountered some issues, but continuing..."
fi
