[user]
	email = {{ .gitUserEmail }}
	user = {{ .gitUserName }}

[init]
	defaultBranch = main

[color]
	ui = auto

[push]
  autoSetupRemote = true
  default = current

[alias]
  undo = reset --soft HEAD^
