; begin auth token
//abbevci.pkgs.visualstudio.com/_packaging/Destination/npm/registry/:username={{ .npm_username }}
//abbevci.pkgs.visualstudio.com/_packaging/Destination/npm/registry/:_password={{ .npm_password }}
//abbevci.pkgs.visualstudio.com/_packaging/Destination/npm/registry/:email=npm requires email to be set but doesn't use the value
//abbevci.pkgs.visualstudio.com/_packaging/Destination/npm/:username={{ .npm_username }}
//abbevci.pkgs.visualstudio.com/_packaging/Destination/npm/:_password={{ .npm_password }}
//abbevci.pkgs.visualstudio.com/_packaging/Destination/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
