{{- if eq .chezmoi.os "darwin" -}}
# Homebrew Bundle file for macOS
# Managed by chezmoi - run `brew bundle --file=~/.config/homebrew/Brewfile` to install

tap "sdkman/tap"
tap "nikitabobko/tap"

brew "asdf"
brew "atuin"
brew "az"
brew "bat"
brew "btop"
brew "carapace"
brew "chezmoi"
brew "colima"
brew "docker"
brew "docker-compose"
brew "dive"
brew "eza"
brew "fastfetch"
brew "fd"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "gh"
brew "gnupg"
brew "htop"
brew "jq"
brew "k9s"
brew "kanata"
brew "kubernetes-cli"
brew "lazydocker"
brew "lazygit"
brew "lima"
brew "lima-additional-guestagents"
brew "neovim"
brew "ollama"
brew "openapi-generator"
brew "qemu"
brew "ripgrep"
brew "sdkman-cli"
brew "starship"
brew "tmux"
brew "tree-sitter-cli"
brew "watch"
brew "websocat"
brew "zoxide"

# Nerd Fonts (Hack and JetBrains Mono)
cask "font-hack-nerd-font" if OS.mac?
cask "font-jetbrains-mono-nerd-font" if OS.mac?

# Applications
cask "aerospace"
cask "beekeeper-studio"
cask "discord"
cask "firefox"
cask "gimp"
cask "google-chrome"
cask "jetbrains-toolbox"
cask "karabiner-elements"
cask "kitty"
cask "logi-options+"
cask "obsidian"
cask "postman"
cask "slack"
cask "spotify"
cask "visual-studio-code"
cask "whatsapp"
{{- end -}}
